body {
  background-color: #fff;
}

.Home {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 20%;
}

.main {
  flex: 80%;
}

.Category {
  padding-top: 350px;
}

.Category,
h3 {
  margin-bottom: 20px;
}

.list-group-item {
  width: 200px;
}

.SlideProduct {
  margin-top: 50px;
  margin-bottom: 50px;
}

img.normal {
  width: 250px;
  height: 250px;
  margin: auto;
}

img.small {
  max-height: 8rem;
}

.card {
  width: 200px;
  height: 300px;
  margin-bottom: 12px;
}

.btn-detail {
  position: absolute;
  bottom: 16px;
}

.navlink {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  margin-right: 15px;
}

.Footer {
  padding: 7% 15%;
  text-align: center;
}

.social-icon {
  margin: 20px 10px;
}

.Cart {
  margin-top: 50px;
}

.Cart, h1 {
  margin-bottom: 20px;
}

.ProductDetail {
  margin-top: 50px;
}

img.img-detail {
  max-height: 20rem;
  float: left;
  margin-right: 50px;
}

.ProductDetail {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.ProductDetail-side {
  flex: 40%;
}

.ProductDetail-main {
  flex: 60%;
}

.btn-cart {
  position: absolute;
  bottom: 10px;
}

.Contact {
  margin-top: 50px;
}